/* Write your CSS here */
.card {
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  padding-top: 20px;
  margin: 15px;
  width: 30%;
}
.img {
  width: 40%;
  border-radius: 8px;
}
.name {
  font-family: 'Roboto';
  font-size: 2vw;
  color: #e73959;
}
.details {
  display: flex;
  align-items: center;
}
.logo {
  width: 15%;
  margin-right: 10px;
}
